@use 'normalize.css';
@use './fonts.scss';
@use './base.scss';
@use './utilities.scss';
@use './comps.scss';

:root {
  --color-bg: #F2F2F2;
  --color-text-dark: #212123;
  --color-secondary: #FFEF93;
  --color-secondary-hover: #eadb87;
  --color-secondary-active: #c9bc73;
  --color-primary: #60FFBC;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-yellow-600: #dec63c;
  --color-yellow-700: #c7a901;
  --color-green-600: #50b46e;
  --color-green-700: #037325;
  --color-gray-300: #cccccc;
  --color-gray-600: #797979;
  --color-gray-700: #555555;
  --lett-sp-sm: 0.01em;
}
