@use './mixins/screen.scss';

.wrapper {
  max-width: 1920px;
  padding: 0 50px;
  margin: 0 auto;

  @include screen.md {
    padding: 0 30px;
  }

  @include screen.sm {
    padding: 0 16px;
  }
}

.h2 {
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  letter-spacing: var(--lett-sp-sm);

  @include screen.lg {
    font-size: 50px;
  }

  @include screen.md {
    font-size: 40px;
  }

  @include screen.sm {
    font-size: 32px;
    letter-spacing: 0.01em;
  }
}

.close-modal {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;

  &:hover {
    opacity: 0.6;
  }
}

.scroll-x {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: var(--color-bg);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--color-primary);
  }
}

.app-link {
  color: var(--color-green-600);

  &:hover {
    color: var(--color-green-700);
    text-decoration: underline;
  }
}
